// font weights

$font-weights: 300, 400, 500, 600, 700, 800;

// colors

$default-color: #e4e4e4;
$primary-color: #fff;
$secondary-color: #e4e4e4;
$text-color: #444444;
$logo-color: #fc4887;
$btn-blue-color: #1691c3;
$shadow: -6px -6px 60px -8px rgba(126, 128, 137, 0.57);
