@use '/src/scss/settings/variables' as vars;

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  
}
html {
  font-size: 16px;
}


body {
  background-color: vars.$default-color;
  color: vars.$text-color;

}

a {
  text-decoration: none;
}
